<section>
  <div id="banner-carousel" class="relative w-full group">
    <!-- Contenedor del carrusel -->
    <div class="relative h-[14rem] overflow-hidden md:rounded-lg md:h-[35rem]">
      <!-- Itera sobre los banners -->
      @if(banners && banners.length > 0){ @for (banner of banners; track banner.id; let i = $index) {
      <div
        [ngClass]="{ active: activeSlide === i }"
        class="bg-cover bg-no-repeat bg-center flex items-center absolute w-full h-full transition-transform duration-500 ease-in-out"
        [ngStyle]="{ 'background-image': 'url(' + banner.image + ')' }"
        [style.transform]="'translateX(' + getSlidePosition(i) + '%)'"
      >
        <div class="pl-10 md:pl-15 max-w-1/2">
          <small
            class="block text-gray-800 capitalize mb-1 md:mb-4"
            [ngStyle]="isMobile() ? { 'font-size': '.5rem' } : {}"
            >{{ banner.product_type }}</small
          >
          <h1
            (click)="showDialog(banner.product)"
            class="cursor-pointer text-sm md:text-5xl text-gray-800 font-medium mb-1 md:mb-6 hover:text-blue-400 transition-color duration-200 ease"
          >
            {{ banner.title }}
          </h1>
          <div class="flex gap-3">
            <button
              type="button"
              (click)="checkout(banner.product)"
              class="cursor-pointer hover:bg-blue-400 hover:border-blue-400 hover:text-white transition-all duration-200 ease-in-out py-1 px-1 md:px-3 md:py-2 border border-gray-800 text-gray-800"
              [ngStyle]="isMobile() ? { 'font-size': '.6rem' } : {}"
            >
              COMPRAR AHORA
            </button>
            <div class="relative">
              <button
                type="button"
                (click)="addProductToCart(banner.product)"
                class="cursor-pointer hover:bg-blue-400 hover:border-blue-400 hover:text-white transition-all duration-200 ease-in-out py-1 px-1 md:px-3 md:py-2 border border-gray-800 text-gray-800"
                [ngStyle]="isMobile() ? { 'font-size': '.6rem' } : {}"
              >
                <fa-icon [icon]="faCartShopping"></fa-icon>
              </button>

              <!-- Ícono de confirmación -->
              <div
                *ngIf="productInCart(banner.product.id)"
                class="absolute -top-2 -right-2 w-6 h-6 rounded-full flex items-center justify-center bg-blue-500 text-white text-xs shadow-md"
              >
                <fa-icon [icon]="faCheck"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      } }@else {
      <div
        class="bg-cover bg-no-repeat bg-center flex items-center absolute w-full h-full transition-transform duration-500 ease-in-out"
        style="
          background-image: url('imgs/banners/default-banner.svg');
          transform: translateX(0%);
        "
      >
        <div class="pl-10 md:pl-15 max-w-1/2">
          <small
            class="block text-gray-800 capitalize mb-1 md:mb-4"
            [ngStyle]="isMobile() ? { 'font-size': '.5rem' } : {}"
          >
            TIENDA DE MAQUILLAJE
          </small>
          <h1
            class="text-sm md:text-5xl text-gray-800 font-medium mb-1 md:mb-6"
          >
            ¡Bienvenido a nuestra tienda!
          </h1>
          <div class="flex gap-3">
            <button
              type="button"
              (click)="redirectToShop()"
              class="cursor-pointer hover:bg-blue-400 hover:border-blue-400 hover:text-white transition-all duration-200 ease-in-out py-1 px-1 md:px-3 md:py-2 border border-gray-800 text-gray-800"
              [ngStyle]="isMobile() ? { 'font-size': '.6rem' } : {}"
            >
              VER PRODUCTOS
            </button>
          </div>
        </div>
      </div>
      }
    </div>

    <!-- Controles del carrusel -->
    <button
      type="button"
      *ngIf="banners && banners.length > 0"
      (click)="prevSlide()"
      class="transition-opacity duration-200 ease absolute top-1/2 -translate-y-1/2 start-0 z-30 flex items-center justify-center h-10 w-10 cursor-pointer bg-white/30 hover:bg-white/50 rounded-full focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-gray-800 rtl:rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"
        />
      </svg>
    </button>
    <button
      type="button"
      *ngIf="banners && banners.length > 0"
      (click)="nextSlide()"
      class="transition-opacity duration-200 ease absolute top-1/2 -translate-y-1/2 end-0 z-30 flex items-center justify-center h-10 w-10 cursor-pointer bg-white/30 hover:bg-white/50 rounded-full focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-gray-800 rtl:rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"
        />
      </svg>
    </button>
  </div>
</section>
