<footer class="max-w-[1680px] mx-auto">
  <div class="flex md:flex-row flex-col justify-between p-10 md:p-16 bg-gray-200">
      <div class="w-full md:w-2/6 p-4">
          <h1 class="text-gray-800 text-3xl font-extrabold mb-5">EXOTICA</h1>
          <p class="text-gray-600 mb-5">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum quaerat nihil possimus repellat cum, vel
              impedit inventore veritatis commodi deleniti distinctio sunt cupiditate. Sunt nulla saepe corporis
              itaque harum quas.
          </p>
          <ul class="inline-flex gap-5 text-gray-800 text-2xl">
              <li><a href="#" class="group"><i class="group-hover:scale-105 group-hover:text-blue-400 transition-all duration-200 ease-in-out fab fa-facebook"></i></a></li>
              <li><a href="#" class="group"><i class="group-hover:scale-105 group-hover:text-blue-400 transition-all duration-200 ease-in-out fab fa-x-twitter"></i></a></li>
              <li><a href="#" class="group"><i class="group-hover:scale-105 group-hover:text-blue-400 transition-all duration-200 ease-in-out fab fa-youtube"></i></a></li>
              <li><a href="#" class="group"><i class="group-hover:scale-105 group-hover:text-blue-400 transition-all duration-200 ease-in-out fab fa-instagram"></i></a></li>
          </ul>
      </div>
      <div class="w-full md:w-1/5 p-4">
          <h1 class="text-gray-800 text-lg font-semibold">Information</h1>
          <hr class="w-5/6 text-gray-400">
          <div class="py-4">
              <ul>
                  <li class="cursor-pointer text-gray-600 hover:text-blue-400 hover:ml-2 w-max transition-all duration-300 ease">About us</li>
                  <li class="cursor-pointer text-gray-600 hover:text-blue-400 hover:ml-2 w-max transition-all duration-300 ease">Payment</li>
                  <li class="cursor-pointer text-gray-600 hover:text-blue-400 hover:ml-2 w-max transition-all duration-300 ease">Contact us</li>
                  <li class="cursor-pointer text-gray-600 hover:text-blue-400 hover:ml-2 w-max transition-all duration-300 ease">Stores</li>
              </ul>
          </div>
      </div>
      <div class="w-full md:w-1/5 p-4">
          <h1 class="text-gray-800 text-lg font-semibold">Social links</h1>
          <hr class="w-5/6 text-gray-400">
          <div class="py-4">
              <ul>
                  <li class="cursor-pointer text-gray-600 hover:text-blue-400 hover:ml-2 w-max transition-all duration-300 ease">New products
                  </li>
                  <li class="cursor-pointer text-gray-600 hover:text-blue-400 hover:ml-2 w-max transition-all duration-300 ease">Best sales</li>
                  <li class="cursor-pointer text-gray-600 hover:text-blue-400 hover:ml-2 w-max transition-all duration-300 ease">Login</li>
                  <li class="cursor-pointer text-gray-600 hover:text-blue-400 hover:ml-2 w-max transition-all duration-300 ease">My Account</li>
              </ul>
          </div>
      </div>
      <div class="w-full md:w-2/6 p-4">
          <h1 class="text-gray-800 text-lg font-semibold">Newsletters</h1>
          <hr class="w-5/6 text-gray-400">
          <p class="text-gray-600 my-5">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit veniam eos accusantium repellat, omnis
              tempore, ipsum rerum odio porro voluptatibus alias earum molestiae recusandae fuga quas excepturi!
              Incidunt, autem accusamus?
          </p>
      </div>
  </div>
</footer>
