@if(offer() === 1){
<section class="p-4 md:py-5 md:px-16">
  <div class="flex md:flex-row flex-col justify-evenly">
    <a href="#" class="w-full overflow-hidden md:w-1/2 p-2 group">
      <img
        class="group-hover:scale-105 transition-transform duration-500 mx-auto"
        src="https://htmldemo.net/looki/looki/assets/img/banner/1.jpg"
        alt="Oferta 1"
      />
    </a>
    <a href="#" class="w-full overflow-hidden md:w-1/4 p-2 group">
      <img
        class="group-hover:scale-105 transition-transform duration-500 mx-auto"
        src="https://htmldemo.net/looki/looki/assets/img/banner/2.jpg"
        alt="Oferta 2"
      />
    </a>
    <a href="#" class="w-full overflow-hidden md:w-1/4 p-2 group">
      <img
        class="group-hover:scale-105 transition-transform duration-500 mx-auto"
        src="https://htmldemo.net/looki/looki/assets/img/banner/3.jpg"
        alt="Oferta 3"
      />
    </a>
  </div>
</section>
}@else{
<section class="p-4 md:py-5 md:px-16">
  <div class="flex md:flex-row flex-col justify-evenly">
    <a href="#" class="w-full overflow-hidden md:w-1/4 p-2 group">
      <img
        class="group-hover:scale-105 transition-transform duration-500 mx-auto"
        src="https://htmldemo.net/looki/looki/assets/img/banner/5.jpg"
        alt="Oferta 5"
      />
    </a>
    <a href="#" class="w-full overflow-hidden md:w-1/4 p-2 group">
      <img
        class="group-hover:scale-105 transition-transform duration-500 mx-auto"
        src="https://htmldemo.net/looki/looki/assets/img/banner/6.jpg"
        alt="Oferta 6"
      />
    </a>
    <a href="#" class="w-full overflow-hidden md:w-1/2 p-2 group">
      <img
        class="group-hover:scale-105 transition-transform duration-500 mx-auto"
        src="https://htmldemo.net/looki/looki/assets/img/banner/4.jpg"
        alt="Oferta 4"
      />
    </a>
  </div>
</section>
}
